.App {
  display:block;
  font-family: sans-serif;
}

.userListContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}

.profilePicture {
  height: 180px;
  width: 180px;
  border: 1px solid #000;
  border-radius: 90px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userList {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
}

.card {
  border: 1px solid #000;
  box-shadow: 6px 6px 0 rgb(0 0 0 / 10%);
  border-radius: 3px;
  width: 380px;
  height: 479px;
  margin: 10px;
  font-size: 20px;
  line-height: 23px;
}

.pagination {
  align-items: center;
    display: flex;
    width: 100%;
    margin: 20px 11px 80px 0;
}

.title {
  margin-left: 151px;
}

.id{
  margin: 40px;
}

h2{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.name {
  font-size: 30px;
  line-height: 35px;
  margin: 30px 0 10px;
}

.email a{
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.26);
}

.profile-image {
  width: 180px;
  height: 180px;
}

.paginationButtons{
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.paginationButton {
  border: 1px solid #000;
  outline: 0;
  margin-right: 20px;
  background-color: #000;
  color: #fff;
  height: 60px;
  width: 180px;
  cursor: pointer;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.paginationButton:disabled {
  background-color: #fff;
    color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}

.paginationSelect {
  width: 170px;
    height: 42px;
    font-size: 16px;
    line-height: 23px;
    padding-left: 5px;
    outline: 0;
}